<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static "style.css" %}/>
    <title>ChainTech</title>
  </head>
  <body>
    <header>
      <h1>ChainTech</h1>
      <nav>
        <a href="{% url "home" %}">Home</a>
        <a href="https://www.chaintech.net/about">About</a>
        <a href="https://www.chaintech.net/contact-us">Contact Us</a>
        <a href="https://www.chaintech.net/explore">Listings</a>
      </nav>
    </header>
    <div class="time">
      <h2>Current Time: </h2><span class="time-item">{{ time }}</span>
    </div>
    <main>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">Submit</button>
      </form>
    </main>
    <footer>
      <p>Contact Information: chaintech@gmail.com | Phone: 1234567890</p>
    </footer>
  </body>
</html>
